# ignore 'out' directory which holds all the js files from TS compile
out
# any "old" files I'm pending removal...
.old

# ignore directory that holds node_modules, these should be installed when npm installs the necessary packages from the package.json file
node_modules

# ignore ilx rpm cache directory
atc_ilx_rpm_cache
.vscode-test/
# ignore any extension install files and zips
*.vsix
*.zip
/fastTemplateUpload/
/fastTemplateFolderUploadTemp/
*.http
/restTests/


# ignore f5 iApp template files
*.tmpl
# ignore temp mini_ucs for config explorere (corkscrew)
mini_ucs.tar.gz
# ignore node cpu profiling outputs
*.cpuprofile
# ignore big dev files in cache
cache/*.rpm
cache/*.sha256
cache/*.qkview
cache/*.ucs