.vscode/**
.vscode-test/**
out/test/**
# ignore new documentation site
docs/**
# ignore source typescript files
src/**
.gitignore
# ignore original readme docs
README_docs/**
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
# **/*.gif

# ignore cache directory
cache/**
fastTemplateFolderUploadTemp/**
# ignore test seed file
.vscode-f5.json
# ignore github actions
.github/**