openapi: 3.0.2
info:
  title: Draft BIG-IP Next API Specification
  version: 208.23.2
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - url: https://api.big-ip-next.f5.com/api/v1
    description: 'The only thing matters for now is the base path: /api/v1'
paths:
  /gui:
    get:
      servers:
        - url: https://api.big-ip-next.f5.com
          description: The base URL to get to GUI server.
      operationId: getUiIndex
      description: Get UI index file.
      responses:
        '200':
          description: OK
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
  /gui/{uiPath}:
    parameters:
      - name: uiPath
        in: path
        required: true
        description: The Path to UI resource files such as htm and js files.
        schema:
          type: string
          pattern: .*
    get:
      servers:
        - url: https://api.big-ip-next.f5.com
          description: The base URL to get to GUI server.
      operationId: getUiResources
      description: Get various UI resource files.
      responses:
        '200':
          description: OK
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
  /applications:
    get:
      summary: List all applications
      description: List all applications.
      operationId: getApplications
      tags:
        - Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Application'
              examples:
                get_applications:
                  $ref: '#/components/examples/get_applications'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Applications'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Add a new application
      description: Add a new application.
      operationId: createApplication
      tags:
        - Application
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.Application'
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
            examples:
              put_application:
                $ref: '#/components/examples/create_or_update_application'
              put_multi_host_tls_application:
                $ref: >-
                  #/components/examples/create_or_update_multi_host_tls_application
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /applications/{appId}:
    parameters:
      - name: appId
        in: path
        description: The application ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        example: 86657e15-439d-4cef-97bc-58a6c119976b
    get:
      summary: Get an application
      description: Get an application.
      operationId: getApplication
      tags:
        - Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Application'
              examples:
                get_application:
                  $ref: '#/components/examples/get_application'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Application'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update an application
      description: Update an application.
      operationId: updateApplication
      tags:
        - Application
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.Application'
          application/json:
            schema:
              $ref: '#/components/schemas/Application'
            examples:
              put_application_by_id:
                $ref: '#/components/examples/create_or_update_application'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete an application
      description: Delete an application.
      operationId: removeApplication
      tags:
        - Application
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /applications/{appId}/stacks:
    parameters:
      - name: appId
        in: path
        description: The application ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        example: 86657e15-439d-4cef-97bc-58a6c119976b
    get:
      summary: List all stacks
      description: List all stacks.
      operationId: getStacks
      tags:
        - Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stack'
              examples:
                get_stacks:
                  $ref: '#/components/examples/get_stacks'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Stacks'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Create a stack
      description: Create a stack.
      operationId: createStack
      tags:
        - Application
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.Stack'
          application/json:
            schema:
              $ref: '#/components/schemas/Stack'
            examples:
              put_stack:
                $ref: '#/components/examples/create_or_update_stack'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /applications/{appId}/stacks/{stackId}:
    parameters:
      - name: appId
        in: path
        description: The application ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        example: 86657e15-439d-4cef-97bc-58a6c119976b
      - in: path
        name: stackId
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        example: 128e8854-f886-44ea-9b24-ba34d203e419
        description: The network ID.
    get:
      summary: Get a stack
      description: Get a stack.
      operationId: getStack
      tags:
        - Application
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stack'
              examples:
                get_stack:
                  $ref: '#/components/examples/get_stack'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Stack'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a stack by ID
      description: Update a stack by ID.
      operationId: updateStack
      tags:
        - Application
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.Stack'
          application/json:
            schema:
              $ref: '#/components/schemas/Stack'
            examples:
              update_stack_by_id:
                $ref: '#/components/examples/create_or_update_stack'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a stack
      description: Delete a stack.
      operationId: removeStack
      tags:
        - Application
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /jobs:
    get:
      summary: List all jobs
      description: List all jobs.
      operationId: getJobs
      tags:
        - Job
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Job'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Jobs'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
  /jobs/{jobId}:
    parameters:
      - name: jobId
        in: path
        description: The job ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
    get:
      summary: Get a job
      description: Get a job.
      operationId: getJobById
      tags:
        - Job
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Job'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
  /L1-networks:
    get:
      summary: Retrieve the current collection of L1-network objects.
      description: A collection of L1-network objects.
      operationId: getL1Networks
      tags:
        - L1-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L1Network'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L1Networks'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L1-network object.
      description: A collection of L1-network objects.
      operationId: updateL1Networks
      tags:
        - L1-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L1Network'
          application/json:
            schema:
              $ref: '#/components/schemas/L1Network'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L1-networks/{l1NetworkId}:
    parameters:
      - name: l1NetworkId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L1 network ID.
    get:
      summary: Retrieve the current state of a single L1-network object.
      description: >-
        An L1-network object describes, among other things, the VLANs and self
        IPs available to the network.
      operationId: getL1Network
      tags:
        - L1-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L1Network'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L1Network'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single L1-network object, overwriting any specified properties.
      description: >-
        An L1-network object describes, among other things, the VLANs and self
        IPs available to the network.
      operationId: updateL1Network
      tags:
        - L1-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L1Network'
          application/json:
            schema:
              $ref: '#/components/schemas/L1Network'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L1-network object.
      description: >-
        An L1-network object describes, among other things, the VLANs and self
        IPs available to the network.
      operationId: removeL1Network
      tags:
        - L1-network
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L1-networks/{l1NetworkId}/vlans:
    parameters:
      - in: path
        name: l1NetworkId
        description: The L1 network ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
    get:
      summary: >-
        Retrieve the current collection of vlan objects defined by the specified
        L1-network object.
      description: A collection of VLAN objects.
      operationId: getL1NetworkVlans
      tags:
        - L1-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                description: VLANs for a given L1 network.
                items:
                  $ref: '#/components/schemas/L1Vlan'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L1Vlans'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new set of VLAN objects.
      description: A collection of VLAN objects.
      operationId: updateL1NetworkVlans
      tags:
        - L1-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L1Vlan'
          application/json:
            schema:
              $ref: '#/components/schemas/L1Vlan'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L1-networks/{l1NetworkId}/vlans/{vlanId}:
    parameters:
      - in: path
        name: l1NetworkId
        description: The L1 network ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
      - in: path
        name: vlanId
        description: The vlan ID.
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
    get:
      summary: Retrieve the current state of a single VLAN object.
      description: >-
        A VLAN is a logical subset of hosts on a local area network (LAN) that
        operate in the same IP address space.
      operationId: getL1NetworkVlan
      tags:
        - L1-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L1Vlan'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L1Vlan'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single VLAN object, overwriting any specified properties.
      description: >-
        A VLAN is a logical subset of hosts on a local area network (LAN) that
        operate in the same IP address space.
      operationId: updateL1NetworkVlan
      tags:
        - L1-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L1Vlan'
          application/json:
            schema:
              $ref: '#/components/schemas/L1Vlan'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single VLAN object.
      description: >-
        A VLAN is a logical subset of hosts on a local area network (LAN) that
        operate in the same IP address space.
      operationId: removeL1NetworkVlan
      tags:
        - L1-network
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L2-networks:
    get:
      summary: Retrieve the current collection of L2-network objects.
      description: A collection of L2-network objects.
      operationId: getL2Networks
      tags:
        - L2-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L2Network'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L2Networks'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L2-network object.
      description: A collection of L2-network objects.
      operationId: updateL2Networks
      tags:
        - L2-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L2Network'
          application/json:
            schema:
              $ref: '#/components/schemas/L2Network'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L2-networks/{l2NetworkId}:
    parameters:
      - name: l2NetworkId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L2 network ID.
    get:
      summary: Retrieve the current state of a single L2-network object.
      description: >-
        An L2-network object describes one of many different data link layer
        concepts, such as a tunnel or bridge.
      operationId: getL2Network
      tags:
        - L2-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L2Network'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L2Network'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single L2-network object, overwriting any specified properties.
      description: >-
        An L2-network object describes one of many different data link layer
        concepts, such as a tunnel or bridge.
      operationId: updateL2Network
      tags:
        - L2-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L2Network'
          application/json:
            schema:
              $ref: '#/components/schemas/L2Network'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L2-network object.
      description: >-
        An L2-network object describes one of many different data link layer
        concepts, such as a tunnel or bridge.
      operationId: removeL2Network
      tags:
        - L2-network
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L2-forwards:
    get:
      summary: Retrieve the current collection of L2-forward objects.
      description: A collection of L2-forward objects.
      operationId: getL2Forwards
      tags:
        - L2-forward
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L2Forward'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L2Forwards'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L2-forward object.
      description: A collection of L2-forward objects.
      operationId: updateL2Forwards
      tags:
        - L2-forward
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L2Forward'
          application/json:
            schema:
              $ref: '#/components/schemas/L2Forward'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L2-forwards/{l2ForwardId}:
    parameters:
      - name: l2ForwardId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L2 forward ID.
    get:
      summary: Retrieve the current state of a single L2-forward object.
      description: >-
        An L2-forward object describes one of many different data link layer
        concepts, such as a forwarding IP.
      operationId: getL2Forward
      tags:
        - L2-forward
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L2Forward'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L2Forward'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single L2-forward object, overwriting any specified properties.
      description: >-
        An L2-forward object describes one of many different data link layer
        concepts, such as a forwarding IP.
      operationId: updateL2Forward
      tags:
        - L2-forward
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L2Forward'
          application/json:
            schema:
              $ref: '#/components/schemas/L2Forward'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L2-forward object.
      description: >-
        An L2-forward object describes one of many different data link layer
        concepts, such as a forwarding IP.
      operationId: removeL2Forward
      tags:
        - L2-forward
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L3-networks:
    get:
      summary: Retrieve the current collection of L3-network objects.
      description: A collection of L3-network objects.
      operationId: getL3Networks
      tags:
        - L3-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L3Network'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L3Networks'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L3-network object.
      description: A collection of L3-network objects.
      operationId: updateL3Networks
      tags:
        - L3-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L3Network'
          application/json:
            schema:
              $ref: '#/components/schemas/L3Network'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L3-networks/{l3NetworkId}:
    parameters:
      - name: l3NetworkId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L3 network ID.
    get:
      summary: Retrieve the current state of a single L3-network object.
      description: >-
        An L3-network object describes one of many different network layer
        concepts, such as network address translation (NAT) or route domains.
      operationId: getL3Network
      tags:
        - L3-network
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L3Network'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L3Network'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single L3-network object, overwriting any specified properties.
      description: >-
        An L3-network object describes one of many different network layer
        concepts, such as network address translation (NAT) or route domains.
      operationId: updateL3Network
      tags:
        - L3-network
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L3Network'
          application/json:
            schema:
              $ref: '#/components/schemas/L3Network'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L3-network object.
      description: >-
        An L3-network object describes one of many different network layer
        concepts, such as network address translation (NAT) or route domains.
      operationId: removeL3Network
      tags:
        - L3-network
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L3-forwards:
    get:
      summary: Retrieve the current collection of L3-forward objects.
      description: A collection of L3-forward objects.
      operationId: getL3Forwards
      tags:
        - L3-forward
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L3Forward'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L3Forwards'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L3-forward object.
      description: A collection of L3-forward objects.
      operationId: updateL3Forwards
      tags:
        - L3-forward
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L3Forward'
          application/json:
            schema:
              $ref: '#/components/schemas/L3Forward'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L3-forwards/{l3ForwardId}:
    parameters:
      - name: l3ForwardId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L3 forward ID.
    get:
      summary: Retrieve the current state of a single L3-forward object.
      description: >-
        An L3-forward object describes one of many different network layer
        concepts, such as neighbors or routes.
      operationId: getL3Forward
      tags:
        - L3-forward
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L3Forward'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L3Forward'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single L3-forward object, overwriting any specified properties.
      description: >-
        An L3-forward object describes one of many different network layer
        concepts, such as neighbors or routes.
      operationId: updateL3Forward
      tags:
        - L3-forward
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L3Forward'
          application/json:
            schema:
              $ref: '#/components/schemas/L3Forward'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L3-forward object.
      description: >-
        An L3-forward object describes one of many different network layer
        concepts, such as neighbors or routes.
      operationId: removeL3Forward
      tags:
        - L3-forward
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L4-serversides:
    get:
      summary: Retrieve the current collection of L4-serverside objects.
      description: A collection of L4-serverside objects.
      operationId: getL4Serversides
      tags:
        - L4-serverside
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L4Serverside'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L4Serversides'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L4-serverside object.
      description: A collection of L4-serverside objects.
      operationId: updateL4Serversides
      tags:
        - L4-serverside
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L4Serverside'
          application/json:
            schema:
              $ref: '#/components/schemas/L4Serverside'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L4-serversides/{l4ServersideId}:
    parameters:
      - name: l4ServersideId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L4 serverside ID.
    get:
      summary: Retrieve the current state of a single L4-serverside object.
      description: >-
        An L4-serverside object describes a logical set of devices, such as web
        servers, that you group together to receive and process traffic.
      operationId: getL4Serverside
      tags:
        - L4-serverside
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L4Serverside'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L4Serverside'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: >-
        Update a single L4-serverside object, overwriting any specified
        properties.
      description: >-
        An L4-serverside object describes a logical set of devices, such as web
        servers, that you group together to receive and process traffic.
      operationId: updateL4Serverside
      tags:
        - L4-serverside
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L4Serverside'
          application/json:
            schema:
              $ref: '#/components/schemas/L4Serverside'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L4-serverside object.
      description: >-
        An L4-serverside object describes a logical set of devices, such as web
        servers, that you group together to receive and process traffic.
      operationId: removeL4Serverside
      tags:
        - L4-serverside
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L4-serversides/{l4ServersideId}/endpoints:
    parameters:
      - name: l4ServersideId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L4 serverside ID.
    get:
      summary: Retrieve the current collection of endpoints.
      description: A collection of endpoint objects.
      operationId: getL4Endpoints
      tags:
        - L4-serverside
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L4Endpoint'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L4Endpoints'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new set of endpoint objects.
      description: A collection of endpoint objects.
      operationId: updateL4Endpoints
      tags:
        - L4-serverside
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L4Endpoint'
          application/json:
            schema:
              $ref: '#/components/schemas/L4Endpoint'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L4-serversides/{l4ServersideId}/endpoints/{endpointId}:
    parameters:
      - name: l4ServersideId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L4 serverside ID.
      - name: endpointId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L4 serverside endpoint ID.
    get:
      summary: Retrieve the current state of a single endpoint object.
      description: >-
        An endpoint is a logical object that represents a node on the network.
        Once you have assigned an L4-serverside to a stack, the system directs
        traffic coming into the stack to one of the endpoints of that
        L4-serverside. An individual endpoint can belong to one or multiple
        L4-serversides, depending on how you want to manage your network
        traffic.
      operationId: getL4Endpoint
      tags:
        - L4-serverside
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L4Endpoint'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L4Endpoints'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a single endpoint object, overwriting any specified properties.
      description: >-
        An endpoint is a logical object that represents a node on the network.
        Once you have assigned an L4-serverside to a stack, the system directs
        traffic coming into the stack to one of the endpoints of that
        L4-serverside. An individual endpoint can belong to one or multiple
        L4-serversides, depending on how you want to manage your network
        traffic.
      operationId: updateL4Endpoint
      tags:
        - L4-serverside
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L4Endpoint'
          application/json:
            schema:
              $ref: '#/components/schemas/L4Endpoint'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single endpoint object.
      description: >-
        An endpoint is a logical object that represents a node on the network.
        Once you have assigned an L4-serverside to a stack, the system directs
        traffic coming into the stack to one of the endpoints of that
        L4-serverside. An individual endpoint can belong to one or multiple
        L4-serversides, depending on how you want to manage your network
        traffic.
      operationId: removeL4Endpoint
      tags:
        - L4-serverside
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L4-clientsides:
    get:
      summary: Retrieve the current collection of L4-clientside objects.
      description: A collection of L4-clientside objects.
      operationId: getL4Clientsides
      tags:
        - L4-clientside
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/L4Clientside'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L4Clientsides'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update the collection with a new L4-clientside object.
      description: A collection of L4-clientside objects.
      operationId: updateL4Clientsides
      tags:
        - L4-clientside
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L4Clientside'
          application/json:
            schema:
              $ref: '#/components/schemas/L4Clientside'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /L4-clientsides/{l4ClientsideId}:
    parameters:
      - name: l4ClientsideId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The L4 clientside ID.
    get:
      summary: Retrieve the current state of a single L4-clientside object.
      description: >-
        An L4-clientside object describes, among other properties, sets of IPs
        and ports on which to listen for traffic that is then distributed across
        the endpoints of an associated L4-serverside object.
      operationId: getL4Clientside
      tags:
        - L4-clientside
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/L4Clientside'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.L4Clientside'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: >-
        Update a single L4-clientside object, overwriting any specified
        properties.
      description: >-
        An L4-clientside object describes, among other properties, sets of IPs
        and ports on which to listen for traffic that is then distributed across
        the endpoints of an associated L4-serverside object.
      operationId: updateL4Clientside
      tags:
        - L4-clientside
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.L4Clientside'
          application/json:
            schema:
              $ref: '#/components/schemas/L4Clientside'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a single L4-clientside object.
      description: >-
        An L4-clientside object describes, among other properties, sets of IPs
        and ports on which to listen for traffic that is then distributed across
        the endpoints of an associated L4-serverside object.
      operationId: removeL4Clientside
      tags:
        - L4-clientside
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /waf-policies:
    get:
      summary: List all WAF policies
      description: List all WAF policies.
      operationId: getWafPolicies
      tags:
        - WafPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WafPolicy'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.WafPolicies'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Create a WAF policy
      operationId: createWafPolicy
      description: Create a WAF policy.
      tags:
        - WafPolicy
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.WafPolicy'
          application/json:
            schema:
              $ref: '#/components/schemas/WafPolicy'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /waf-policies/{wafPolicyId}:
    parameters:
      - name: wafPolicyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The WAF policy ID.
    get:
      summary: Get a WAF policy
      operationId: getWafPolicyById
      description: Get a WAF policy.
      tags:
        - WafPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WafPolicy'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.WafPolicy'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update a WAF policy by ID
      operationId: updateWAFPolicy
      description: Update a WAF policy by ID.
      tags:
        - WafPolicy
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.WafPolicy'
          application/json:
            schema:
              $ref: '#/components/schemas/WafPolicy'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete a WAF policy
      operationId: removeWafPolicy
      description: Delete a WAF policy.
      tags:
        - WafPolicy
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /access-policies:
    get:
      summary: List all access policies
      description: List all access policies.
      operationId: getAccessPolicies
      tags:
        - AccessPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccessPolicy'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.AccessPolicies'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Create an accesspolicy
      operationId: createAccessPolicy
      description: Create an access policy.
      tags:
        - AccessPolicy
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.AccessPolicy'
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicy'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /access-policies/{accessPolicyId}:
    parameters:
      - name: accessPolicyId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The policy ID.
    get:
      summary: Get an access policy
      operationId: getAccessPolicyById
      description: Get an access policy.
      tags:
        - AccessPolicy
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessPolicy'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.AccessPolicy'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Update an access policy by ID
      operationId: updateAccessPolicy
      description: Update an access policy by ID.
      tags:
        - AccessPolicy
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.AccessPolicy'
          application/json:
            schema:
              $ref: '#/components/schemas/AccessPolicy'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
    delete:
      summary: Delete an access policy
      operationId: removeAccessPolicy
      description: Delete an access policy.
      tags:
        - AccessPolicy
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /services:
    get:
      summary: List all services
      description: List all services.
      operationId: getServices
      tags:
        - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Service'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Services'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
  /services/{serviceId}:
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The service ID.
    get:
      summary: Get a service
      operationId: getServiceById
      description: Get a service.
      tags:
        - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.Service'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
  /services/{serviceId}/access:
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The service ID.
    get:
      summary: Get Access global settings
      description: Get Access global settings.
      operationId: getAccessService
      tags:
        - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceAccess'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.ServiceAccess'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: Add/Update Access global settings
      description: Add/Update Access global settings.
      operationId: createAccessService
      tags:
        - Service
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.ServiceAccess'
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceAccess'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /services/{serviceId}/logging:
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The service ID.
    get:
      summary: Get logging
      operationId: getLogging
      description: Get Logging.
      tags:
        - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceLogging'
            application/hal+json:
              schema:
                $ref: '#/components/schemas/hal.ServiceLogging'
      parameters:
        - in: query
          name: where
          description: Where query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: fields
          description: Fields query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: offset
          description: Offset query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: limit
          description: Limit query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: skip
          description: Skip query parameter.
          schema:
            type: integer
            minimum: 0
            maximum: 2147483647
        - in: query
          name: order
          description: Order query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: include
          description: Include query parameter.
          schema:
            type: array
            items:
              type: string
              maxLength: 64000
        - in: query
          name: sort
          description: Sort query parameter.
          schema:
            type: string
            maxLength: 64000
    put:
      summary: update logging
      operationId: updateLogging
      description: Add logging.
      tags:
        - Service
      requestBody:
        content:
          application/hal+json:
            schema:
              $ref: '#/components/schemas/hal.ServiceLogging'
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceLogging'
        required: true
      responses:
        '202':
          $ref: '#/components/responses/JobAccepted'
  /services/{serviceId}/cluster:
    parameters:
      - name: serviceId
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/Uuid'
        description: The service ID.
    get:
      summary: Get HA cluster
      description: Get HA cluster.
      operationId: getCluster
      tags:
        - Service
      responses:
        '200':
          description: OK
          content:
            application/json:
[...]
